
<form class = form>
<div class = header>
 <ul> 
   <li> <a href="Nodal Login.html" target="main-content" style="margin-right: 1%;">Nodal Login </a>      </li>
   <li> <a href="Ministry Login.html" target="main-content" style="margin-right: 1%;">Ministry Login</a></li>
    <li><a href="Student Login.html" target="main-content" style="margin-right: 1%;">Student Login</a></li>
  </ul>
</div>
<div class=''>
<h1>Hello</h1>
</div>
<div class="header1">
  <table align="center">
           <h1 style="text-align: center;" >Login</h1>
    
  
    <tr align="center">
  <td>UserName<input type="text" name="UserName" ></td></tr><br><br>
  <tr align="center">
    <td>Password<input type="password" name="password">
    </td>
  </tr><br><br>
    
      <button align="center"name="submit" onclick="" >Login</button>

</table>
</div>
</form>
